<app id="welcome">
  <grid container spacing="2">
    <grid item>
      <switch-button
      :value-var="modal"
      :value-var.sync="modal"
      name="teste"
      >
      </switch-button>
    </grid>
   
      
    <grid item sm="12" md="6" lg="12">
      <chart
        :labels="['eu', 'ia', 'lhe','chamar']"
        :data="[5,25,10,40]"
      ></chart>
    </grid>
    <grid item sm="12" md="12" lg="6">
        <card title="Teste card">
          testando Card ok
        </card>
    </grid>
    <grid item sm="12" md="12" lg="6">
        <card title="Teste card">
          testando Card ok
        </card>
    </grid>
    <grid item sm="12" md="12" lg="6">
      <card title="Insert File">
        <table>
          <th>
            Nome
          </th>
          <th>
            Size
          </th>
          <th>
            status
          </th>
          <th>
            download
          </th>
          <th>
            upload
          </th>
          <tr v-for="insertfile in listAllFilesInsert" :key="insertfile._id">
            <td>
              {{ insertfile.name }}
            </td>
            <td>
              {{ insertfile.fileSize }}
            </td>
            <td>
              {{ insertfile.status }}
            </td>
            <td>
              {{ insertfile.progressDownload }}
            </td>
            <td>
              {{ insertfile.progressUpload }}
            </td>
          </tr>
        </table>
      </card>
    </grid>
    <grid item sm="12" md="12" lg="6">
      <card title="All Converted">
      <table>
        <th>
          Nome
        </th>
        <th>
          status
        </th>
        <th>
          progresso
        </th>
        <tr v-for="converted in listAllConverted" :key="converted._id">
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.status }}
          </td>
          <td>
            {{ item.progress }}
          </td>
        
        </tr>
      </table>
      
    </card>
    </grid>
  </grid>
  <modal :open="modal" title="Teste Modal">
    estou testando esse modal
  </modal>
  <toast :active="modal" color="primary" :active.sync="modal">
    Testando
  </toast>
  <button @click="startConversion" :disabled="sync">Iniciar conversão</button>
 <!-- <input type="file" webkitdirectory directory></input> -->
  
</app>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
